extends layout
block content
	h1 create rooms
	div.createRoom
		form(action="/rooms/createRoom", method="post" id="form")
			label(for="roomName")
			input(type="text", id="roomName",name="roomName", placeholder="create a room...")
			input(type="submit", value="create")
