extends layout
block content


	.container-full
		.row
		.col-lg-12.text-center.v-center
			h1 Hi There, #{userEmail}
			br
			br
			br
			div.createRoom
				form(action="/rooms/createRoom", method="post" id="form" class="col-lg-12")
					.input-group(style='width:340px;text-align:center;margin:0 auto;')
						label(for="roomName")
						input(type="text", id="roomName",name="roomName", placeholder="name your room..." class="form-control input-lg")
						input(type="submit", value="CREATE" class="btn btn-lg btn-primary submitButton")


