extends layout
	
block content
	.container-fluid
		.row
			.col-sm-9.col-md-9.videoContainer
				video#localVideo(autoplay, muted)
				video#remoteVideo(autoplay)
				video#miniVideo(autoplay)
			// end of videoContainer
			.col-sm-3.col-md-3.chatContainer
				#conversation
					table(style='table-layout:fixed; width:100%;')
						tbody
							tr
								td.wrapword
				.chatBox
					textarea.data(rows='4', style='resize:none; height: 100%; width: 100%;', placeholder='Hit Enter to Send')
					input.senddata(type='submit', value='send', style='display: none')
			// end of chatContainer
		// end of row


	script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
	script(src="/socket.io/socket.io.js")
	script(src="/javascripts/adapter.js")
	script(src="/javascripts/chat.js")
	script(src="/javascripts/main.js")

