extends layout
block content


	table(class="displayRooms")
		tr
			th Room ID
			th Room Name
			
		each item in rooms
			tr
				td #{item.id}
				td 
					a(href="/rooms/videochat/#{item.roomName}") #{item.roomName}
				