extends layout
block content

	div.table-responsive
		table.table.table-hover.displayRooms			
			tr
				th Room Number
				th Room Name
				th User Created
				
			each item in rooms			
				tr
					td #{item.room_id}
					td 
						a(href="/rooms/videochat/#{item.room_name}/#{item.room_id}") #{item.room_name}
					td 
					td 
				

				