extends layout
block content


	div.table-responsive
		table.table.table-hover.displayRooms			
			tr
				th Room Number
				th Room Name
				th User Created
				
			each item in rooms			
				tr
					td #{item.id}
					td 
						a(href="/rooms/videochat/#{item.roomName}") #{item.roomName}
					td 
					td 
				

				